/* CSS SETUP */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: gray;
}
.container{
    background-color: #e6e6e6;
    margin: auto;
    padding-bottom: 10px;
}

/* OTHER SECTION */

/* HEADER SECTION */
header{
    background-color: white;
}

.logo{
    margin: 10px 0 10px 20px;
    vertical-align: middle;
}

.logo-name{
    display: inline-block;
    vertical-align: middle;
}

/* HEADER SECTION */
main{
    background-color: white;
    width: 60%;
    margin: auto; 
    margin-top: 20px;
    padding-bottom: 10px;
    border-radius: 3px;
}

/* OPTION TASK */
.options{
    border-bottom: 1px solid #e6e6e6;
    line-height: initial;
}

.add-Task{
    margin: 12px 5px 9px 37px;
    background-color: rgb(55, 55, 255);
    color: white;
}

.add-section{
    color: rgb(184, 184, 184);
}

.botton-options{
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    padding: 5px;
}

/* TASK SETUP */

.all-section-task{
    margin: 20px 37px;
}

.task{
    margin: 15px 0;
}

.check{
    font-size: 12px;
    padding: 1px 4px;
    border: 1px solid green;
    color: green;
    border-radius: 50%;
}
.delete{
    font-size: 10px;
    padding: 3px 4px;
    border: 1px solid red;
    color: red;
    border-radius: 50%;
}

.info-task{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #e6e6e6 ;
    font-size: 12px;
}

/* TASK SECTION */

.editorial{
    color: white;
    background-color: rgb(0, 144, 192);
}
.q1-goals{
    color: white;
    background-color: rgb(134, 0, 175);
}
.recluting{
    color: white;
    background-color: rgb(0, 194, 129);
}
.mobile{
    color: white;
    background-color: orange;
}
.website{
    color: white;
    background-color: rgb(194, 0, 194);
}
.sales{
    color: white;
    background-color: rgb(0, 165, 0);
}