/* CSS SETUP */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: gray;
}
.container{
    background-color: #e6e6e6;
    margin: auto;
    padding-bottom: 10px;
}

/* OTHER SECTION */

/* HEADER SECTION */
header{
    background-color: white;
    padding: 10px;
}

.logo{
    margin-left: 10px;
    vertical-align: middle;
}

.logo-name{
    display: inline-block;
    vertical-align: middle;
}

/* HEADER SECTION */
.container-task{
    background-color: white;
    width: 60%;
    margin: auto; 
    margin-top: 20px;
    padding-bottom: 10px;
    border-radius: 3px;
}

/* OPTION TASK */
.options{
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 35px;
}

.add-Task{
    background-color: rgb(55, 55, 255);
    color: white;
}

.add-section{
    color: rgb(184, 184, 184);
    margin-left: 3px;
}

.botton-options{
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    padding: 5px;
    font-size: 12px;
}

/* TASK SETUP */

.all-section-task{
    margin: 15px 37px;
}

.task{
    padding: 10px;
    color: #585c65;
    list-style: none;
}

.circle{
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    margin-right: 5px;
    border-radius: 50%;
}
.check{
    font-size: 13px;
    color: green;
    border: 1px solid currentColor;
}
.delete{
    font-size: 10px;
    color: red;
    border: 1px solid currentColor;
}

.info-task{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #e6e6e6 ;
    font-size: 12px;
    color: white;
    vertical-align: middle;
}

/* TASK SECTION */

.editorial{
    background-color: rgb(0, 144, 192);
}
.q1-goals{
    background-color: rgb(134, 0, 175);
}
.recluting{
    background-color: rgb(0, 194, 129);
}
.mobile{
    background-color: orange;
}
.website{
    background-color: rgb(194, 0, 194);
}
.sales{
    background-color: rgb(0, 165, 0);
}
