/* CSS SETUP */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: gray;
}
.container{
    background-color: #e6e6e6;
    margin-left: 173px;
    width: 1017px;
    height: 627px;
}

/* OTHER SECTION */

/* HEADER SECTION */
header{
    background-color: white;
}

.logo{
    margin: 10px 0 10px 20px;
    vertical-align: middle;
}

.logo-name{
    display: inline-block;
    vertical-align: middle;
}

/* HEADER SECTION */
main{
    background-color: white;
    width: 720px;
    height: 515px;
    margin: auto;
    margin-top: 20px;
    border-radius: 3px;
}



/* OPTION TASK */
.options{
    border-bottom: 1px solid #e6e6e6;
    line-height: initial;
}

.Add-Task{
    margin: 12px 5px 9px 37px;
    background-color: rgb(55, 55, 255);
    color: white;
}

.Add-Section{
    color: rgb(184, 184, 184);
}

.botton-options{
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    padding: 5px;
}

/* TASK SETUP */

.all-section-task{
    margin: 20px 37px;
}

.check{
    padding: 1px 4px;
    border: 1px solid green;
    color: green;
    border-radius: 50%;
}

.info-task{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #e6e6e6 ;
    font-size: 12px;
}

/* TASK SECTION */

.editorial{
    color: white;
    background-color: rgb(0, 144, 192);
}







